@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
/* background-image: url("./assets/bg1.jpg");
background-repeat: no-repeat;
background-size: cover; */
background-color: rgb(27, 24, 24);
}

.banner-login {
  background: url( './assets/login.jpg' );
  background-repeat: no-repeat;
  background-size: cover        
}

.banner-signup {
  background: url( './assets/signup.jpg' );
  background-repeat: no-repeat;
  background-size: cover        
}

#card{
  border-image-source: linear-gradient(270deg, #126A68 -4.27%, #612779 34.63%, #C45081 68.03%, #FF8983 103.56%);
  border-image-slice: 1;
}