@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1B2431;
}

.banner-login {
  background: url( './assets/login.jpg' );
  background-repeat: no-repeat;
  background-size: cover        
}

.banner-signup {
  background: url( './assets/signup.jpg' );
  background-repeat: no-repeat;
  background-size: cover        
}